body{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#index h1{
	color: #00ACEE;
	font-family: Valken;
	font-size: 45px;
	font-weight: normal;
}

#index h3{
	color: #00ACEE;
	font-family: Valken;
	font-size: 25px;
	text-align: center;
}

#wrapper{
	background-color: #A9F5F2;
	min-height: 100%;
	min-width: 1024px;

	width: 100%;
	height: auto;

	top: 0;
	left: 0;
}

.input-xxlarge {
	height: 35px !important;
}

.thumbnails{
	position: absolute;
	float: left;
}

#schauspieler{
	box-shadow: 7px 7px 3px #A4A4A4;
	border-radius: 7px;
	top: 10px;
	left: 115px;
}

#sportler{
	box-shadow: 7px 7px 3px #A4A4A4;
	border-radius: 7px;
	top: 10px;
	left: 370px;

}

#comedians{
	box-shadow: 7px 7px 3px #A4A4A4;
	border-radius: 7px;
	top: 10px;
	left: 625px;
}

#musiker{
	box-shadow: 7px 7px 3px #A4A4A4;
	border-radius: 7px;
	top: 240px;
	left: 115px;
}

#mode{
	box-shadow: 7px 7px 3px #A4A4A4;
	border-radius: 7px;
	top: 240px;
	left: 370px;
}

#politiker{
	box-shadow: 7px 7px 3px #A4A4A4;
	border-radius: 7px;
	top: 240px;
	left: 625px;
}

#autoren{
	box-shadow: 7px 7px 3px #A4A4A4;
	border-radius: 7px;
	top: 470px;
	left: 115px;
}

#reality-stars{
	box-shadow: 7px 7px 3px #A4A4A4;
	border-radius: 7px;
	top: 470px;
	left: 370px;
}

#moderatoren{
	box-shadow: 7px 7px 3px #A4A4A4;
	border-radius: 7px;
	top: 470px;
	left: 625px;
}

#detailansicht{
	background-color: white;
	position: absolute;
	top: 7px;
	left: 95px;
	width: 708px;
	height: 643px;
	z-index: 1;
	display: none;
	overflow: auto;
}

.promi-section{

}

.well .container{
	background-color: rgba(255,255,255,0.6);
	height: 660px;
	position: relative;
	width: 900px;
}

.thumbnail{
	cursor: pointer;
	height: 200px;
	width: 220px;
}

#wrapper{
	background:-moz-linear-gradient(bottom, #00ACEE, white); /* Firefox */
	background:-webkit-linear-gradient(bottom, #00ACEE, white); /* Safari, Chrome */
	background:-o-linear-gradient(bottom, #00ACEE, white); /* Opera */
	background:-ms-linear-gradient(bottom, #00ACEE, white); /* IE */
	background:linear-gradient(bottom, #00ACEE, white); /* W3C Standard */
}


.tweet{
	border-bottom: 2px solid #00ACEE;
	height: 110px;
	position: relative;
}

.tweet-pic{
	position: absolute;
	height: 48px;
	width: 48px;
	border: 1px solid black;
	border-radius: 7px;
	top: 20px;
	left: 20px;
}

.tweet-data{
	position: absolute;
	top: 20px;
	left: 94px;
	width: 597px;
}

.tweet-text{
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.tweet-time{
	float: right;
}

.celebrity-name{
	font-weight: bold;
	font-size: 20px;
	color: #00ACEE;
	cursor: pointer;
}

#facetted-search{
	width: 150px;
	position: absolute;
	right: 5px;
	top: 150px;
	display: none;
}

.row{
	margin-left: 60px !important;
}

.span4{
	width: 130px !important;
	height: 150px !important;

}

.celebrity-thumbnail{
	width: 130px;
	height: 130px;
}

.promi-pic{
	width: 55px;
	height: 55px;
}

.promi-name{
	font-size: 16px;
}

.promi-screen_name, .promi-name {
	margin-top: 5px;
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}